* {
  box-sizing: border-box;
}

body {
  background-color: #e8eBe4;
  line-height: 1.5;
  font-size: 100%;
}

/* TEXT STYLES
==================================================== */

p {
  font-size: 1em;
}

/* LINK STYLES
==================================================== */

a, a:link, a:active {
  color: #fff;
  text-decoration: none;
}
