main section,
header section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

main {
  padding: 10px;
}

.preview {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.preview-content {
  position: relative;
  width: 300px;
}

.description_body {
  width: 300px;
  position: absolute;
  bottom: 7px;
}

@media only screen and (min-width: 640px) {

  .header_wrap {
    max-width: 960px;
    margin: 0 auto;
  }

}
