header {
  background: #000
              url('../images/hero.jpg')
              no-repeat
              center;
  background-size: cover;
  height: 300px;
}

main section,
header section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}


@media only screen and (min-width: 640px) {

  .header_wrap {
    max-width: 960px;
    margin: 0 auto;
  }

}
